@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
	<Authorized>
		<a href="authentication/profile">Hello, @context.User.Identity.Name!</a>
		<MudButton Class="pa-2 ma-2" Variant="Variant.Outlined" Size="Size.Small" @onclick="BeginSignOut">Log Out</MudButton>
	</Authorized>
	<NotAuthorized>
		<MudButton Class="pa-2 ma-2" Link="authentication/login" Variant="Variant.Outlined" Size="Size.Small">Log In</MudButton>
		<MudButton Class="pa-2 ma-2" Link="authentication/register" Variant="Variant.Outlined" Size="Size.Small">Register</MudButton>
	</NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
