@inherits LayoutComponentBase

<MudThemeProvider Theme="MyCustomTheme" />

@code{
	MudTheme MyCustomTheme = new MudTheme()
	{
		Palette = new Palette()
		{
			Primary = Colors.Grey.Darken4,
			Secondary = Colors.LightGreen.Darken2,
			AppbarBackground = Colors.LightGreen.Darken2,
			AppbarText = Colors.Grey.Darken4,
			TextPrimary = Colors.Grey.Darken4,
			Background = Colors.Grey.Lighten2,
			DrawerBackground = Colors.Grey.Lighten2,
		
		},

		LayoutProperties = new LayoutProperties()
		{
			DrawerWidthLeft = "180px",
			DrawerWidthRight = "200px",
			
		}
	};
}



<MudLayout>
	<MudAppBar Elevation="1">
		<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
		<NavLink class="nav-link" href="about">
			 About
		</NavLink>
		<MudSpacer />

		<LoginDisplay />

		<MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
	</MudAppBar>
	<MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
		<MudDrawerHeader >
			<MudText Typo="Typo.h5" Style="color: #33691E" Class="mt-1"><strong>Plantsy</strong></MudText>
			<MudIcon Icon="fas fa-leaf" Style="color: #33691E"/>
		</MudDrawerHeader>
		<NavMenu />
	</MudDrawer>
	<MudMainContent>
		<div class="content px-4">
			@Body
		</div>
	</MudMainContent>
</MudLayout>

@code {
	bool _drawerOpen = true;

	void DrawerToggle()
	{
		_drawerOpen = !_drawerOpen;
	}
	string blue = $"color:{Colors.LightBlue.Lighten2};";
}

